*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
section{
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
}
.form_changes{
    width: 100%;
    margin: 0 auto;
}
.registration_input{
    width: 90%;
    height: 20px;
    margin: 14px;

}
.registration_label{
    margin-left: 3%;
}
button{
    width: 80%;
    margin: 3% 0 10px 10%;
    background-color: black;
    color: white;
}